# Assessing
Use the space below to explore `winequality-red.csv` and `winequality-white.csv` to answer the quiz questions below.

In [ ]:
# Answer the following questions:
# number of samples in each dataset?  1599  , 4898
# number of columns in each dataset?   12 ,12
# features with missing values?  0 ,0
# duplicate rows in the white wine dataset? 240    937
# number of unique values for quality in each dataset? 6  ,7
# mean density of the red wine dataset? 5.636022 ,5.877

In [3]:
import pandas as pd

In [28]:
df=pd.read_csv('data/winequality-red.csv',sep=';')
df2=pd.read_csv('data/winequality-white.csv',sep=';')
df2.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [29]:
print("df1 number of samples   ",df.shape[0])
print("df1 number of cols   ",df.shape[1])
print("df2 number of samples   ",df2.shape[0])
print("df2 number of cols   ",df2.shape[1])

df1 number of samples    1599
df1 number of cols    12
df2 number of samples    4898
df2 number of cols    12

In [30]:
print(df.isnull().sum())
print(df2.isnull().sum())

fixed_acidity           0
volatile_acidity        0
citric_acid             0
residual_sugar          0
chlorides               0
free_sulfur_dioxide     0
total_sulfur-dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64
fixed_acidity           0
volatile_acidity        0
citric_acid             0
residual_sugar          0
chlorides               0
free_sulfur_dioxide     0
total_sulfur_dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [33]:
# df.duplicated()
dup1=df[df.duplicated()]
dup2=df2[df2.duplicated()]
print(dup1.shape[0])
print(dup2.shape[0])

240
937

In [37]:
print(df['quality'].unique().shape[0])
print(df2['quality'].unique().shape[0])

6
7

In [35]:
print(df['quality'].mean())
print(df2['quality'].mean())

5.6360225140712945
5.87790935075541